<template name="post">
  <article class="post post-{{post.type}}">
    <div class="content">
      {{#if post.url}}
      <a href="{{post.url}}">{{post.content}}</a>
      {{else}}
        {{#if post.longContent}}
        {{post.longContent}}
        {{else}}
        {{post.content}}
        {{/if}}
      {{/if}}
    </div>
    <div class="tags">
      <h3>Tags</h3>
      {{post.tags}}
    </div>
  </article>
  <div class="comments">
    <h2>Comments</h2>
    {{> _addComment}}
    {{#each comments}}
      {{> _comment}}
    {{/each}}
  </div>
</template>