.field-body {
  position: relative;
}

#body-fake {
  outline: 1px #ddd solid;
  min-height: 100px;
  width: 300px;
  padding: 0.5em;
  &:focus {
    outline: 2px blue solid;
  }
}

.tag {
  color: blue;
}

// #chars {
//   position: absolute;
//   top: 0;
//   left: 0;
// }