<template name="_addPost">
  <form id="add-post">
    <h2>{{type}}</h2>
    <div class="field field-url">
      <input type="text" id="url" name="url" placeholder="Link URL">
    </div>
    <div class="field field-body">
      <div id="body-fake" contentEditable="true"></div>
      <textarea name="body" id="body" placeholder="Text"></textarea>
    </div>
    <div class="field field-tags">
      <input type="text" id="tags" name="tags" placeholder="Tags">
    </div>
    <button type="submit">Submit</button>
  </form>
</template>